body
{
    background: rgb(58, 163, 180);
    background: linear-gradient(90deg, rgba(58, 163, 180, 1) 0%, rgba(29, 48, 253, 1) 50%, rgba(127, 69, 252, 1) 100%);

}

#survey
{
    height: 100vh;
}

.tabs a
{
    width: 300px;
}